*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

body{
	font-family: helvetica, arial;
	background: #ddd;
}
.container{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 
		"header header"
		"main aside"
		"footer footer";
	gap: 15px;
	grid-template-rows: auto;
}

@media (max-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: 4fr;
		grid-template-areas: 
		"header"
		"main aside"
		"footer";
	}
}

header {
	grid-area: header;

}
main{
	grid-area: main;
	width: 100%;
	height: auto;
	border:2px solid black;
}
.video-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.video-info{
	background: #fff;
	display: flex;
	flex-direction: column;
	margin:10px auto;
	width: 80%;
	border-radius: 3px;
	box-shadow: 0 8px 6px -6px #444;

}
.stat-icons{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	float: right;
	justify-content: space-between;
 
}
 .emotion-icon{
 	display:flex;	
 	flex-direction:row;
 }
 span{
 	padding: 10px;
 	color: #333;
 }
 .detailed-description{
	padding: 1em;
	line-height: 1.4;
	color: #333;
	background: #fff;
	width: 80%;
	margin:0 auto;
	border-radius: 3px;
	box-shadow: 0 8px 6px -6px #444;
}
.detailed-description p{
padding: 5px;
}
.horizontal-line {
	width: 90%;
	margin:auto;
}
a.show-more{
	color: #333;
	text-decoration: none;
	text-align: center;
}
.loading{
	margin: 10px auto;
	background-color: #fff;
	width: 80%;
	height: 30vh;
	border-radius: 3px;
	box-shadow: 0 8px 6px -6px #444;
	text-align: center;
	padding: 20px;
	color: #333;
}

.upnext :nth-child(2) {
	display: inline-block;
	background-color: blue;
	float: right;
}

aside{
	grid-area: aside;
	border:2px solid red;
}

footer{
	grid-area: footer;
	border:2px solid green;
	height: 20vh;
}
.nav-bar{
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	background: #fff;
}

