*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: helvetica, arial;
	background: #ddd;
}
.header{
width: 100%;
height: 10vh;
position: fixed;
}
.nav-bar{
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	background: #fff;
}
.main-content{
	background-color: #fed124;
	border: 2px solid black;
}

